* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-bottom: 4px solid #000;
}

a:hover {
  color: yellow;
  cursor: pointer;
}

section {
  padding-top: 30px;
  text-align: center;
}

.active {
  border-bottom-color: yellow
}

.home_selected {
  border: 5px solid blue;
  border-radius: 50%;
}